@use 'sass:color';


$dark-gray: #3b3c40;
$light-green: #baf241;
$bg: #f2f2f2;
$light-gray:  color.scale($dark-gray , $lightness:75%);

$base: 0.5em;
$base-font:1em;

$sizes: (
  "s": 1,
  "m": 2,
  "l": 3,
  "xl": 4,
);