doctype html
html
  head
    title Inventory app
    link(rel="stylesheet", href="/stylesheets/main.css")
  body.main-container
    .sidebar.pd-l
      h1 Inventory app
      h3.mg-tb-m
        img.icon.mg-inl-s(src="/svg/list.svg")
        a(href="/categories") Category list
      h3.mg-tb-m
        img.icon.mg-inl-s(src="/svg/list.svg")
        a(href="/items") Item list

      h3.mg-tb-m
        img.icon.mg-inl-s(src="/svg/create.svg")
        a(href="/items/create") Create item
      h3.mg-tb-m
        img.icon.mg-inl-s(src="/svg/create.svg")
        a(href="/categories/create") Create Category

    .top
      input.search-bar.mg-m.pd-s(type="search", placeholder="Search inventory")

      .user.push-l.mg-inl-m
        img.mg-s(src="https://placehold.co/85x85/png")
        h3 Inventory Manager
    block content
